<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <imi_store_switch>
            <general>
                <enable>0</enable>
                <show_country_only>0</show_country_only>
                <available_web_sites></available_web_sites>
            </general>
        </imi_store_switch>
    </default>
</config>
