<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="imi" translate="label" sortOrder="10">
            <label>iMi</label>
        </tab>
        <section id="imi_store_switch" translate="label" sortOrder="150" showInDefault="1" showInStore="1" showInWebsite="1">
            <class>separator-top</class>
            <label>Store Switch</label>
            <tab>imi</tab>
            <resource>IMI_StoreSwitch::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1" canRestore="1">
                    <label>Enable Switch</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_country_only" translate="label" type="select" sortOrder="2" showInDefault="1" showInStore="1" showInWebsite="1" canRestore="1">
                    <label>Show Country Code Only</label>
                    <comment>If this option is enabled, the switch will only show the country code. Otherwise, country code and label will be shown.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="available_web_sites" translate="label" type="multiselect" sortOrder="3" showInDefault="1" showInStore="0" showInWebsite="1" canRestore="1">
                    <label>Available Web Sites For Switching</label>
                    <source_model>Magento\Config\Model\Config\Source\Website</source_model>
                    <comment>This option lets you restrict the which store views can be switched between (on a web site level). It specifies all available web sites for the current scope. If you don't select any website, switching will not be restricted, letting you switch between all store views of all web sites.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
